body {
    margin: 0 auto !important;
    /* padding: 20px; */
    background-color: #f4f4f4 !important;
}

h1 {
    color: #2c3e50;
}

#video,
#captured_preview {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#captured_image_container,
#generated_image_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #252c33 !important;
}